
body {
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    background: linear-gradient(to bottom right, #f5d5cb, #e44d26);
  }
  
  header {
    background-color: #c3ab4c;
    padding: 20px;
    text-align: center;
  }

  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  nav a:hover {
    color: #e44d26;
    text-decoration: none;
    transform: scale(1.1);
  }

  section {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  
  .logo svg {
    width: 100px;
    height: auto;
    fill: #ffffff;
  }
  
  footer {
    background-color: #222222;
    color: #ffffff;
    padding: 20px;
  }
  
  footer .logo {
    float: left;
  }
  
  footer .contact-form {
    float: right;
    margin-top: 10px;
  }
  
  footer form input[type="text"],
  footer form input[type="email"],
  footer form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  footer form input[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #e44d26;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }